<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"  
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<TITLE>SpringDemo2023</TITLE>
	<META name="description" content="THORNBIRD.COM"/>
	
	<!-- 引入css -->
	<link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700}" 
		rel="stylesheet" >
	<link th:href="@{https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}" 
		rel="stylesheet" >
	<!-- layer -->
	<script th:src="@{https://cdn.bootcss.com/layer/2.1/layer.js}" type="text/javascript"></script>
</head>
<body>
	<!-- header	 -->
	<div th:replace="fragments/header :: header"></div>
	<!-- left -->
	
	<!-- body -->
	<div class='mainBody' style="margin-top:20px;">
		<div th:if="${template}">
			<div th:replace="${template}"></div>
		</div>
	</div>
	
	<!-- footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>